bucket         = "example-terraform-state-bucket"
key            = "aws-bedrock-chat-backend/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "example-terraform-locks"
encrypt        = true
